.toc {
	overflow-y: auto
}

.toc > ul {
	overflow: hidden;
	position: relative;
}

.toc > ul li {
	list-style: none
}

.toc-list {
	margin: 0;
	padding-left: 10px
}

a.toc-link {
	text-decoration: none;
	color: #646;
	height: 100%;
	line-height: 150%;
	font-size: 120%;
}

.is-collapsible {
	max-height: 1000px;
	overflow: hidden;
	transition: all 300ms ease-in-out
}

.is-collapsed {
	max-height: 0
}

.is-position-fixed {
	position: fixed !important;
	top: 0
}

.is-active-link {
	font-weight: 700
}