body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.navigationTop {
		
		top: 0px;
		width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #446;	
}
.navigationTop .main {
	font-family: Georgia;
	font-size: 24;
	font-weight: bold;
}
.navigationTop li {
	float: left;
}
.navigationTop > li a, .drop {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigationTop li:not(.main) a{
	padding-top: 21px;
	padding-bottom: 18px;
}
.navigationTop li a:hover, .dropdown:hover {
    background-color: #002;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e9e9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
div.dropdown-content a {
    color: black;
    display: block;
    text-align: left;
    padding-top: 8px !important;
    padding-bottom: 5px !important;
}

div.dropdown-content a:hover {background-color: #c1c1d1}

.caret {
  display: inline-block;
  cursor: pointer;
  content: '';
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

div.container {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 10%;
  width: 60%;
  font-size: 15px;
  line-height: 150%;
}

pre.example code {
  font-size: 16px !important; 
}