.tiy-leftbox {
  border: 2px solid #ddd; 
/*  width: 500px;*/
}
.tiy-rightbox {
  border: 2px solid #ddd; 
/*  width: 500px;*/
}
.tiy-text {
	text-align: center;
	color: #888;
	padding-top: 9px;
	padding-bottom: 9px;
}

.anchor::before {
  content: "";
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
}